.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  background: transparent;
  padding: 20px 30px 30px 30px;
}

.container div {
  margin: 10px 0;
}

.container .title h1 {
  font-weight: normal;
  font-size: 2em;
}

.container .title small {
  font-style: italic;
}

.container div.medias {
  margin: 20px 0;
}

.medias a {
  margin: 10px;
}

@media (min-width: 501px) {
  .medias a svg {
    color: #ACACAC;
    transition: 300ms all ease-in-out;
  }

  .medias a svg:hover {
    color: #fff;
    filter:drop-shadow(0 0 2px #acacac)
  }
}

@media (max-width: 500px) {
  div.title {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  div.title h1 span.block {
    display: flex;
  }

  .medias a svg {
    color: #fff;
    filter:drop-shadow(0 0 2px #acacac)
  }
}
